language: java
jdk:
- oraclejdk8
before_install:
- |
  if ! git diff --name-only $TRAVIS_COMMIT_RANGE | grep -qvE '(.js)|(.txt)|(.md)|(.png)|(.pdf)|(.html)|^(LICENSE)|^(docs)'
  then
    if [ -e "$TRAVIS_TAG" ]
    then
      echo "Only doc files were updated, not running the CI."
      exit
    fi
  fi
matrix:
  fast_finish: true
  include:
  - env: VERSION='-PhadoopVersion=2.7.0'
  - env: VERSION='-PhadoopVersion=2.8.0'
  - env: VERSION='-PhadoopVersion=2.9.0'
  - env: VERSION='-PhadoopVersion=3.0.0'
  - env: VERSION='-PhadoopVersion=3.1.0'
script:
- "./gradlew clean build buildRpm buildDeb $VERSION"
after_success:
- bash <(curl -s https://codecov.io/bash)
after_failure:
- tar -czvf ./test-report.tar.gz /home/travis/build/paypal/NNAnalytics/build/reports/tests/
- curl --upload-file ./test-report.tar.gz "https://transfer.sh/test-report.tar.gz"
deploy:
  provider: releases
  api_key:
    secure: R0bmCCYuSb5fc+cRUllGhsSkHwPBS8aSb/qkC88SAAoYVaSoWkhthw8BYSXTUzV5QCWEFAaFUxDhcWMWdhy+znvFeZTIjfffidHzYee81v89fAGqZ/ilXZmF/Q3/2iXrGn7lqva57HXl8NzvnUmilZQ1cdzrhQwetNgpowxDEkadHQxaqDbrByuH7NwROGHGIcbmWdPcUHE+uPOIznmzQ2YRM9FUW16nkbQJW5HKYvQV46mfpKstrvYoTZtfrpdSmLg7zyZ2pgwbneShP8f/YKkCWr50ltFsKmEOqJtaH6GE/eCQbsKrjTSLY/1N//2SVpC8agF/oopEQ7YWeQzyQspkKGIxZek/RXcFQDA3N+5S1cyrL68Vg2mZ41CLx8wFEoeesH1N7cDeskS3W9GDXLa81mm0g/P13j7bFVV0+bbwXKTNQxZn6fVpAeMXh1+e2IaOWGvSt7fJLwORw6sX1vdXn81iWjmRh7aSRamG7IuxvNgQqHNy2VJShZLTwoaJaZlszZR8xlF93XouxV42sHZ3uVjAy3w222hSBcETceayeEPF6jUC9+OvTV71kbMtW+YqNA8N8CwLi9CUMPtUFB+vLbZCKYKYkOA7EfYUa7ogayqPE3osE7DXat2YCOCHPu8ICQz8TUaGs+E4UPmcBfFYz4PgUG3y0u+epCgXAvw=
  file_glob: true
  file: build/distributions/*
  skip_cleanup: true
  on:
    tags: true
    repo: paypal/NNAnalytics
